[buildout]
package-extras = [test]
package-name = collective.js.chosen
develop = .
parts +=
    omelette
    zopepy
    test
    npm
    coverage
    report
    report-xml
extensions =
    mr.developer
    buildout.dumppickedversions
common-eggs =
    PIL
    ipython
    bpython
    plone.reload
test-eggs =
    ${buildout:package-name} ${buildout:package-extras}
auto-checkout = 
    chosen
    ajaxchosen
sources-dir = ${buildout:directory}/src.mrdeveloper

[instance]
http-address = localhost:25560
eggs =
    ${buildout:common-eggs}
    ${buildout:package-name}
extra-paths =

[sources]
chosen = git https://github.com/harvesthq/chosen.git egg=false
ajaxchosen = git https://github.com/kiorky/ajax-chosen.git egg=false

[zopepy]
recipe=zc.recipe.egg
eggs = ${instance:eggs}
extra-paths = ${instance:extra-paths}
interpreter = zopepy
scripts =

[test]
recipe = zc.recipe.testrunner
defaults = ['-v', '-s', '${buildout:package-name}']
eggs =
    ${buildout:common-eggs}
    ${buildout:test-eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
include = '--source=${buildout:directory}/src'
sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--xml']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
sys.argv = sys.argv[:] + ['html', '-i']

[report-xml]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report-xml
initialization =
sys.argv = sys.argv[:] + ['xml', '-i']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
#packages = ./

[versions]

# never ever pin paste and other eggs

Paste =
PasteDeploy =
PasteScript =
ZopeSkel =
distribute =

[npm]
recipe = gp.recipe.node
url = http://nodejs.org/dist/v0.6.18/node-v0.6.18.tar.gz
npms = coffee-script less uglify-js jsmin
scripts = coffee lessc cake

[buildjs]
recipe=plone.recipe.command
command=${buildout:directory}/bin/rebuildjs.sh
update-command=${buildjs:command}









